{% import '_macros' as macros %}
{% set classes = classes ?? null %}
{% set item = item ?? null %}
{% set image = image ?? null %}
{% set defaultWidth = defaultWidth ?? null %}
{% set srcsetConfig = srcsetConfig ?? null %}
{% set sizesConfig = sizesConfig ?? null %}
{% set moreImageContent = moreImageContent ?? null %}

<figure class="w-full {{ classes }}">
  <div class="relative">
    <img
      src="{{ image.url({ width: defaultWidth }) }}"
      srcset="{{ macros.srcset(image, srcsetConfig) }}"
      sizes="{{ macros.srcsizes(600, sizesConfig) }}"
      alt="{{ item.imageAltText ?? null }}"
    >
    {{ moreImageContent }}
  </div>
  {% if item.imageCaptionHeading or item.imageCaptionText %}
    <figcaption class="bg-earth-200 py-24 px-16">
      <div class="max-w-1000 mx-auto">
        <p>
          {% if item.imageCaptionHeading %}
            <span class="font-serif font-bold text-purple-700">
              {{ item.imageCaptionHeading }}
            </span>
          {% endif %}
          {{ item.imageCaptionText }}
        </p>
      </div>
    </figcaption>
  {% endif %}
</figure>
