{% import '_macros' as macros %}

<section
  class="carousel max-w-1280 my-48 mx-auto"
  {% if block.imageEntries | length > 1 %}
    data-module="Carousel"
  {% endif %}
>
  <div class="carousel-slider">
    {% for item in block.imageEntries.with(['imageAsset']).all() %}
      <div class="carousel-slide bg-earth-200">
        <div
          class="aspect-ratio-16/9 bg-earth-900 bg-contain bg-center bg-no-repeat"
          style="background-image:url('{{ item.imageAsset[0].url }}');">
        </div>
        <div class="py-24 px-16">
          <div class="max-w-1000 mx-auto">
            <p>
              <span class="font-serif font-bold text-earth-900">{{ item.imageCaptionHeading }}</span>
              {{ item.imageCaptionText }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


  <div class="aspect-ratio-16/9 absolute pin-t pin-x z-1">
    {# On desktop, use arrows #}
    <button
      class="carousel-arrow ml-8 pin-l z-2 smd:hidden"
      data-dir="left"
      aria-label="Slide left"
      disabled
    >
      {{ macros.svg('arrow-left') }}
    </button>
    <button
      class="carousel-arrow mr-8 pin-r rotate-180 z-2 smd:hidden"
      data-dir="right"
      aria-label="Slide right"
    >
      {{ macros.svg('arrow-left') }}
    </button>

    {# Indicators populated via js #}
    <div class="flex absolute pin-b w-full justify-center">
      <div class="carousel-indicators"></div>
    </div>
  </div>
</section>
