.marketo-form {
  @apply mb-24;

  & .label {
    @apply font-display;
  }

  & .font-serif {
    @apply font-serif;
  }

  & .mb-12 {
    @apply mb-12;
  }

  & .mb-32 {
    @apply mb-32;
  }

  & .sm\:ml-48 {
    @screen sm {
      @apply ml-48;
    }
  }

  & .mktoForm {
    @apply w-full !important;

    & .mktoLabel {
      @apply block;
      @apply float-none;
      @apply font-heavy !important;
      @apply font-sans;
      @apply mb-12;
      @apply text-14;
      @apply text-teal-600;
      @apply w-full !important;
    }

    & .mktoGutter,
    & .mktoOffset,
    & .mktoAsterix,
    & .mktoButtonRow,
    & input[type=checkbox],
    & legend {
      @apply hidden !important;
    }

    & .mktoFormRow {
      @apply mb-16;
    }

    & .mktoFieldWrap,
    & .mktoFormCol {
      @apply float-none;
      @apply mb-0 !important;
    }

    & fieldset {
      @apply m-0 !important;
      @apply p-0 !important;
    }

    & input[type="text"],
    & input[type="email"],
    & input[type="tel"] {
      @apply bg-earth-200 !important;
      @apply border-none !important;
      @apply float-none !important;
      @apply font-sans !important;
      @apply leading-normal !important;
      @apply p-12 !important;
      @apply rounded !important;
      @apply shadow-inner !important;
      @apply text-16 !important;
      @apply text-earth-700 !important;
      @apply w-full !important;
      height: auto !important;
    }

    & input[type=checkbox] {
      display: none;

      & + label {
        cursor: pointer;

        &::before {
          @apply bg-earth-200;
          @apply border-none;
          @apply h-25;
          @apply inline-block;
          @apply mr-12;
          @apply relative;
          @apply rounded;
          @apply shadow-inner;
          @apply w-25;
          content: '';
          cursor: pointer;
          top: 6px; /* manual centering */
        }
      }

      &:checked {
        & + label {
          @apply text-teal-600;

          &::before {
            @apply border-teal-600;
            @apply text-white;
            @apply bg-warm-200;
            background:
              url('/assets/images/icons/check.svg') no-repeat center / 80%,
              radial-gradient(15px at center, rgba(225, 225, 225, 0.1) -150%, #087D85 100%);
          }
        }
      }
    }

    & .mktoCheckboxList {
      @apply w-full !important;

      & label {
        @apply block;
        @apply font-sans !important;
        @apply font-heavy !important;
        @apply m-0 mb-24 !important;
        @apply text-14;
        @apply text-teal-600;
        @apply w-full;
      }
    }

    & [data-fieldset="2"] legend,
    & [data-fieldset="3"] legend {
      @apply block !important;
      @apply font-display;
      @apply text-12;
      @apply m-0 !important;
      @apply tracking-wide;
      @apply uppercase;
    }
  }

  &.newsletter-form {
    @screen xs {
      & form {
        @apply bg-teal-700;
        @apply flex;
        @apply items-center;
        @apply mb-16;
        @apply p-4;
        @apply rounded;
        @apply shadow-inner;
      }
    }

    & label {
      @apply sr-only;
    }

    & input[type="email"] {
      @screen xs {
        @apply bg-transparent !important;
        @apply text-white !important;
        box-shadow: none !important;
      }
    }

    & .mktoFormRow {
      @apply flex-grow;
      @apply m-0 !important;
      @apply mr-4 !important;
    }

    & .mktoButtonRow {
      @apply block !important;
    }

    & .mktoButtonWrap {
      @apply block;
      @apply mt-12;
      @apply mx-0 !important;
      @apply text-center;

      @screen xs {
        @apply my-0 !important;
      }
    }

    & button[type="submit"] {
      @apply button !important;
      @apply bg-white !important;
      @apply flex-no-shrink;
      @apply text-warm-600 !important;
      background-image: none !important;
    }
  }
}

.cvt-main-app {
  & .cw-wrapper {
    @apply bg-transparent !important;
    @apply font-sans !important;
    @apply leading-normal !important;
    @apply text-earth-700 !important;
  }

  & h2,
  & p {
    @apply hidden !important;
  }

  & .cw-wrapper,
  & .cw-content {
    @apply p-0 !important;
    height: auto !important;
    width: auto !important;
  }

  & .cw-control {
    @apply mb-16;
  }

  & label {
    @apply block;
    @apply float-none;
    @apply font-heavy;
    @apply mb-12;
    @apply opacity-100 !important;
    @apply text-14 !important;
    @apply text-teal-600;
    @apply w-full !important;
  }

  & input {
    @apply bg-earth-200 !important;
    @apply border-none !important;
    @apply float-none !important;
    @apply font-sans !important;
    @apply leading-normal !important;
    @apply p-12 !important;
    @apply rounded !important;
    @apply shadow-inner !important;
    @apply text-earth-700 !important;
    @apply w-full !important;

    &::placeholder {
      @apply opacity-0;
      @apply invisible;
    }

    /* IE11 fix */
    &:-ms-input-placeholder {
      @apply opacity-100;
      @apply visible;
    }
  }

  & .cw-button {
    @apply text-left !important;

    & a {
      @apply bg-warm-600 !important;
      @apply font-display !important;
      @apply font-normal !important;
      @apply inline-block !important;
      @apply py-16 px-32 !important;
      @apply rounded !important;
      @apply text-14 !important;
      @apply text-white !important;
      @apply tracking-wide !important;
      @apply uppercase !important;
      background-image: none !important;
    }
  }

  & .cw-message-error {
    @apply border-b-2;
    @apply border-earth-200;
    @apply font-bold;
    @apply mb-16;
    @apply pb-8;
    @apply text-left;
    @apply text-warm-600;
  }
}

.mktoError {
  bottom: -15px !important;
}

.mktoErrorArrow {
  display: none !important;
}

.mktoErrorMsg {
  @apply bg-warm-400 !important;
  @apply border-0 !important;
  @apply font-bold !important;
  @apply font-display !important;
  @apply m-0 !important;
  @apply rounded !important;
  background-image: none !important;
  box-shadow: none !important;
  padding: 8px 12px !important;
  text-shadow: none !important;
  text-transform: uppercase !important;
}
