.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal[aria-hidden="false"] .modal__overlay {
  animation: fadeIn .3s;
}

.modal[aria-hidden="false"] .modal__container {
  animation: slideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal[aria-hidden="true"] .modal__overlay {
  animation: fadeOut .3s;
}

.modal[aria-hidden="true"] .modal__container {
  animation: slideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal .modal__container,
.modal .modal__overlay {
  will-change: transform;
}

.modal__video-container {
  @apply relative;
  max-width: calc((90vh * (16/9)));
  width: 90%;
}

.modal__video-content {
  padding-top: 56.25%; /* 16:9 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(15%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

