{% extends '_layouts/app' %}

{% block content %}
<div class="max-w-1280 mx-auto p-16 sm:px-32">
  <h1 class="mb-32 hd-36">Parts</h1>

  <ul class="list mb-32">
    <li>
      <a class="link" href="{{ url('parts/colors' )}}">Colors</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/blocks' )}}">Page Blocks</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/resources' )}}">Resource Components</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/footer' )}}">Footer</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/related-products' )}}">Related Products</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/404' )}}">404 Page</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/product-hero' )}}">Products Page Hero</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/contact-form' )}}">Contact Form</a>
    </li>
    <li>
      <a class="link" href="{{ url('parts/notifications' )}}">Notifications</a>
    </li>
  </ul>
</div>
{% endblock %}
