{% import '_macros' as macros %}

{% extends '_layouts/app' %}

{% block content %}

<div class="max-w-1280 mx-auto p-16 sm:px-32">
  <h1 class="mb-16 hd-36">Parts: Related Products</h1>
  <div class="mb-32">
    <a class="link label" href="{{ url('/parts') }}">Back</a>
  </div>
</div>

{% set solutionsEntry = craft.entries.section('solutions').one() %}

{% include '_solutions/products-intro/block' with {
  heading: solutionsEntry.productIntroHeading,
  description: solutionsEntry.productIntroDescription,
  productsIntro: solutionsEntry.productIntroProducts.one(),
} only %}

{% endblock %}
